body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/* Header */
:root {
  background-color: #ffffff;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding-top: 24px;
}

.header-logo-studio {
  color: #2e2f42;
}

.header-logo:hover,
.header-logo:focus {
  color: #404bbf;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-item {
}

.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.header-link:hover {
  color: #404bbf;
}

.header-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
}

.header-contacts:hover,
.header-contacts:focus {
  color: #404bbf;
}

/* Main */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-container {
}

.hero-name {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 188px 0;
  max-width: 496px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
}

.hero-button {
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
}

.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  align-items: center;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.plan {
  background-color: #ffffff;
  padding-bottom: 120px;
  padding-top: 120px;
}

.plan-container {
  display: flex;
  align-items: center;
}

.plan-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.first-element {
  width: calc((100% - 72px) / 4);
}

.list-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  gap: 24px;
}

.list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  gap: 24px;
}

.mission {
  background-color: #ffffff;
  padding-bottom: 120px;
}

.mission-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.mission-item {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 120px;
}

.team-list-first {
  border-radius: 0px 0px 4px 4px;
}

.team-list-item {
  background-color: #ffffff;
}

.team-item {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  padding-top: 120px;
}

.team-photos {
  margin-bottom: 32px;
}

.team-names {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-function {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */

.footer {
  background-color: #2e2f42;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 17.5px;
  padding-top: 100px;
}

.footer-link-studio {
  color: #f4f4fd;
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-bottom: 100px;
  max-width: 280px;
}

/* Potfolio */

.navigation {
  background-color: #ffffff;
}

.navigation-container {
}

.navigation-list {
  display: flex;
  align-items: center;
  padding-top: 96px;
  margin-bottom: 72px;
  padding-left: 427px;
  gap: 24px;
}

.navigation-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}

.navigation-btn:hover {
  background-color: #404bbf;
  color: #ffffff;
}

.navigation-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.picture-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.picture {
  margin-bottom: 32px;
}

.picture-describe {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.picture-purpose {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
